USE [master]
GO
/****** Object:  Database [cs6232-g3]    Script Date: 3/30/2022 8:52:00 AM ******/
CREATE DATABASE [cs6232-g3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cs6232-g3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\cs6232-g3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cs6232-g3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\cs6232-g3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cs6232-g3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cs6232-g3]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 3/30/2022 8:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	
 CONSTRAINT [PK_AccountID] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/30/2022 8:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CategoryID] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/30/2022 8:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [varchar](50) NOT NULL,
	[Lname] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[Sex] [varchar](10) NOT NULL,
	[Address1] [varchar](50) NOT NULL,
	[Address2] [varchar](50) NULL,
	[City] [varchar](50) NOT NULL,
	[State] [char](2) NOT NULL,
	[ZipCode] [varchar](20) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Employee_type] [varchar](10) NOT NULL,
	[Active] [tinyint] NOT NULL,
 CONSTRAINT [PK_EmployeesID] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Furnitures]    Script Date: 3/30/2022 8:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Furnitures](
	[FurnitureID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[StyleID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Description] [varchar](70) NOT NULL,
	[Daily_rental_rate] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_FurnitureID] PRIMARY KEY CLUSTERED 
(
	[FurnitureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 3/30/2022 8:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [varchar](50) NOT NULL,
	[Lname] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Phone] [varchar](12) NOT NULL,
	[Sex] [varchar](10) NOT NULL,
	[Address1] [varchar](50) NOT NULL,
	[Address2] [varchar](50) NULL,
	[City] [varchar](50) NOT NULL,
	[State] [char](2) NOT NULL,
	[ZipCode] [varchar](20) NOT NULL,
 CONSTRAINT [PK_MemberID] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTransactions]    Script Date: 3/30/2022 8:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[RentDate] [datetime] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
 CONSTRAINT [PK_RentalTransactionID] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentedItems]    Script Date: 3/30/2022 8:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentedItems](
	[RentedItemsID] [int] IDENTITY(1,1) NOT NULL,
	[RentalTransactionID] [int] NOT NULL,
	[SequenceNo] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[FurnitureID] [int] NOT NULL,
 CONSTRAINT [PK_RentedItemsID] PRIMARY KEY CLUSTERED 
(
	[RentedItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnTransaction]    Script Date: 3/30/2022 8:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnTransaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[RentedItemsID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ReturnDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ReturnTransactionID] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 3/30/2022 8:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateCode] [char](2) NOT NULL,
	[StateName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Styles]    Script Date: 3/30/2022 8:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Styles](
	[StyleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_StyleID] PRIMARY KEY CLUSTERED 
(
	[StyleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [Username], [Password]) VALUES (1, N'dnacy', N'test1234')
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password]) VALUES (2, N'fandrew', N'test1234')
INSERT [dbo].[Accounts] ([AccountID], [Username], [Password]) VALUES (3, N'ljanet', N'test1234')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (1, N'bed')
INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (2, N'cabinet')
INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (3, N'chair')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [Fname], [Lname], [DateOfBirth], [Phone], [Sex], [Address1], [Address2], [City], [State], [ZipCode], [Username], [Employee_type], [Active]) VALUES (1, N'Davolio', N'Nancy', CAST(N'1968-12-08' AS Date), N'206-555-9857', N'female', N'507 - 20th Ave.', NULL, N'Seattle', N'WA', N'98122', N'dnacy', N'Regular', 1)
INSERT [dbo].[Employees] ([EmployeeID], [Fname], [Lname], [DateOfBirth], [Phone], [Sex], [Address1], [Address2], [City], [State], [ZipCode], [Username], [Employee_type], [Active]) VALUES (2, N'Fuller', N'Andrew', CAST(N'1952-02-19' AS Date), N'206-555-9482', N'male', N'908 W. Capital Way', N'by Zip way', N'Tacoma', N'WA', N'98401', N'fandrew', N'Admin', 1)
INSERT [dbo].[Employees] ([EmployeeID], [Fname], [Lname], [DateOfBirth], [Phone], [Sex], [Address1], [Address2], [City], [State], [ZipCode], [Username], [Employee_type], [Active]) VALUES (3, N'Leverling', N'Janet', CAST(N'1963-08-30' AS Date), N'206-555-3412', N'female', N'722 Moss Bay Blvd.', NULL, N'Kirkland', N'WA', N'98033', N'ljanet', N'Regular', 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Furnitures] ON 

INSERT [dbo].[Furnitures] ([FurnitureID], [Name], [StyleID], [CategoryID], [Description], [Daily_rental_rate], [Quantity]) VALUES (1, N'Cradle', 1, 1, N'Antique bed', 15.0000, 50)
INSERT [dbo].[Furnitures] ([FurnitureID], [Name], [StyleID], [CategoryID], [Description], [Daily_rental_rate], [Quantity]) VALUES (2, N'Trundle bed', 2, 1, N'vintage bed', 30.0000, 15)
INSERT [dbo].[Furnitures] ([FurnitureID], [Name], [StyleID], [CategoryID], [Description], [Daily_rental_rate], [Quantity]) VALUES (3, N'Basket chair', 3, 3, N'Tradition basket chair', 7.0000, 30)
SET IDENTITY_INSERT [dbo].[Furnitures] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [Fname], [Lname], [DateOfBirth], [Phone], [Sex], [Address1], [Address2], [City], [State], [ZipCode]) VALUES (1, N'Nash', N'Albert', CAST(N'2003-05-11' AS Date), N'132-448-1892', N'Male', N'Ap #376-7341 Cursus. Avenue', NULL, N'Norman', N'NY', N'24134')
INSERT [dbo].[Members] ([MemberID], [Fname], [Lname], [DateOfBirth], [Phone], [Sex], [Address1], [Address2], [City], [State], [ZipCode]) VALUES (2, N'Grady', N'Moses', CAST(N'1974-11-12' AS Date), N'677-186-6387', N'Female', N'4857 Eu Rd.', NULL, N'Hartford', N'WA', N'42006')
INSERT [dbo].[Members] ([MemberID], [Fname], [Lname], [DateOfBirth], [Phone], [Sex], [Address1], [Address2], [City], [State], [ZipCode]) VALUES (3, N'Fay', N'Maxwell', CAST(N'1984-09-02' AS Date), N'146-877-3277', N'Male', N'414-9313 Ut St.', NULL, N'Carson', N'NY', N'47558')
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalTransactions] ON 

INSERT [dbo].[RentalTransactions] ([TransactionID], [RentDate], [DueDate], [EmployeeID], [MemberID]) VALUES (1, CAST(N'2018-11-08T00:00:00.000' AS DateTime), CAST(N'2018-12-08T00:00:00.000' AS DateTime), 1, 2)
INSERT [dbo].[RentalTransactions] ([TransactionID], [RentDate], [DueDate], [EmployeeID], [MemberID]) VALUES (2, CAST(N'2018-10-08T00:00:00.000' AS DateTime), CAST(N'2018-10-18T00:00:00.000' AS DateTime), 3, 2)
INSERT [dbo].[RentalTransactions] ([TransactionID], [RentDate], [DueDate], [EmployeeID], [MemberID]) VALUES (3, CAST(N'2018-07-08T00:00:00.000' AS DateTime), CAST(N'2018-12-08T00:00:00.000' AS DateTime), 6, 3)
SET IDENTITY_INSERT [dbo].[RentalTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[RentedItems] ON 

INSERT [dbo].[RentedItems] ([RentedItemsID], [RentalTransactionID], [SequenceNo], [Quantity], [FurnitureID]) VALUES (1, 1, 1, 6, 2)
INSERT [dbo].[RentedItems] ([RentedItemsID], [RentalTransactionID], [SequenceNo], [Quantity], [FurnitureID]) VALUES (2, 1, 2, 10, 1)
INSERT [dbo].[RentedItems] ([RentedItemsID], [RentalTransactionID], [SequenceNo], [Quantity], [FurnitureID]) VALUES (3, 1, 3, 4, 3)
SET IDENTITY_INSERT [dbo].[RentedItems] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnTransaction] ON 

INSERT [dbo].[ReturnTransaction] ([TransactionID], [RentedItemsID], [Quantity], [EmployeeID], [ReturnDate]) VALUES (1, 1, 6, 1, CAST(N'2018-12-06T00:00:00.000' AS DateTime))
INSERT [dbo].[ReturnTransaction] ([TransactionID], [RentedItemsID], [Quantity], [EmployeeID], [ReturnDate]) VALUES (2, 2, 10, 1, CAST(N'2018-12-06T00:00:00.000' AS DateTime))
INSERT [dbo].[ReturnTransaction] ([TransactionID], [RentedItemsID], [Quantity], [EmployeeID], [ReturnDate]) VALUES (3, 3, 4, 3, CAST(N'2018-10-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ReturnTransaction] OFF
GO
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AK', N'Alaska')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AL', N'Alabama')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AR', N'Arkansas')
GO
SET IDENTITY_INSERT [dbo].[Styles] ON 

INSERT [dbo].[Styles] ([StyleID], [Name]) VALUES (1, N'Antique')
INSERT [dbo].[Styles] ([StyleID], [Name]) VALUES (2, N'vintage')
INSERT [dbo].[Styles] ([StyleID], [Name]) VALUES (3, N'traditional')
SET IDENTITY_INSERT [dbo].[Styles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Accounts_Username]    Script Date: 3/30/2022 8:52:00 AM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UK_Accounts_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_RentedItems_RentalTransactionID_SequenceNo]    Script Date: 3/30/2022 8:52:00 AM ******/
ALTER TABLE [dbo].[RentedItems] ADD  CONSTRAINT [UK_RentedItems_RentalTransactionID_SequenceNo] UNIQUE NONCLUSTERED 
(
	[RentalTransactionID] ASC,
	[SequenceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Accounts] FOREIGN KEY([Username])
REFERENCES [dbo].[Accounts] ([Username])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Accounts]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_States] FOREIGN KEY([State])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_States]
GO
ALTER TABLE [dbo].[Furnitures]  WITH CHECK ADD  CONSTRAINT [FK_Furnitures_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Furnitures] CHECK CONSTRAINT [FK_Furnitures_Categories]
GO
ALTER TABLE [dbo].[Furnitures]  WITH CHECK ADD  CONSTRAINT [FK_Furnitures_Styles] FOREIGN KEY([StyleID])
REFERENCES [dbo].[Styles] ([StyleID])
GO
ALTER TABLE [dbo].[Furnitures] CHECK CONSTRAINT [FK_Furnitures_Styles]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_States] FOREIGN KEY([State])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_States]
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD  CONSTRAINT [FK_RentalTransactions_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[RentalTransactions] CHECK CONSTRAINT [FK_RentalTransactions_Employees]
GO
ALTER TABLE [dbo].[RentalTransactions]  WITH CHECK ADD  CONSTRAINT [FK_RentalTransactions_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[RentalTransactions] CHECK CONSTRAINT [FK_RentalTransactions_Members]
GO
ALTER TABLE [dbo].[RentedItems]  WITH CHECK ADD  CONSTRAINT [FK_RentedItems_Furnitures] FOREIGN KEY([FurnitureID])
REFERENCES [dbo].[Furnitures] ([FurnitureID])
GO
ALTER TABLE [dbo].[RentedItems] CHECK CONSTRAINT [FK_RentedItems_Furnitures]
GO
ALTER TABLE [dbo].[RentedItems]  WITH CHECK ADD  CONSTRAINT [FK_RentedItems_RentalTransaction] FOREIGN KEY([RentalTransactionID])
REFERENCES [dbo].[RentalTransactions] ([TransactionID])
GO
ALTER TABLE [dbo].[RentedItems] CHECK CONSTRAINT [FK_RentedItems_RentalTransaction]
GO
ALTER TABLE [dbo].[ReturnTransaction]  WITH CHECK ADD  CONSTRAINT [FK_ReturnTransaction_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[ReturnTransaction] CHECK CONSTRAINT [FK_ReturnTransaction_Employees]
GO
ALTER TABLE [dbo].[ReturnTransaction]  WITH CHECK ADD  CONSTRAINT [FK_ReturnTransaction_RentedItems] FOREIGN KEY([RentedItemsID])
REFERENCES [dbo].[RentedItems] ([RentedItemsID])
GO
ALTER TABLE [dbo].[ReturnTransaction] CHECK CONSTRAINT [FK_ReturnTransaction_RentedItems]
GO
USE [master]
GO
